$black_color: #111;
$white_color: #ffffff;
$light_bg: #f8fbfb;
$dark_color: #212126;
$gray_color: #38383f;
$primary_color: #2d2f76;
$secondary_color: #424ca2;
$third_color: #63c3a7;
$blue_color: #131480;
$green_color: #1cb086;
$red_color: #e91e63;
$text_color: #77797c;
$white_text: #f8f1f1;
$border_color: #f0f0f5;
$golden_color: #f7b31c;
//colors

@mixin transition($duration: 0.4s, $mode: ease-out) {
  transition: all $duration $mode;
  -moz-transition: all $duration $mode;
  -ms-transition: all $duration $mode;
  -webkit-transition: all $duration $mode;
  -o-transition: all $duration $mode;
}

@mixin transform($property: scale(1.2)) {
  transform: $property;
  -moz-transform: $property;
  -webkit-transform: $property;
  -ms-transform: $property;
  -o-transform: $property;
}

@mixin truncate($line_num: 1) {
  @if $line_num == 1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  } @else {
    display: -webkit-box;
    -webkit-line-clamp: $line_num;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

//functions

@font-face {
  font-family: "sans";
  src: url("../fonts/IRANSansWebFaNum-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "sans";
  src: url("../fonts/IRANSansWebFaNum-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "sans";
  src: url("../fonts/IRANSansWebFaNum-UltraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "sans";
  src: url("../fonts/IRANSansWebFaNum.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sans";
  src: url("../fonts/IRANSansWebFaNum-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "sans";
  src: url("../fonts/IRANSansWebFaNum-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
select,
textarea,
button {
  font-family: "sans", Arial, Helvetica, sans-serif;
  outline: 0;
  resize: none;
}

img {
  max-width: 100%;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 900;
  line-height: 1.5;
  margin-bottom: 1rem;
}

b,
strong {
  font-weight: 700;
}

a,
a:hover {
  text-decoration: none;
}

.ltr-text {
  display: inline-block;
  direction: ltr;
  text-align: right;
  letter-spacing: 0.5px;
}

.wrapper {
  position: relative;
  padding: 4rem 0;
}

section {
  &.eeeeee {
    background-color: #eeeeee !important;
  }

  &.f5f5f5 {
    background-color: #f5f5f5 !important;
  }
}

::selection {
  background-color: #c3d9ff;
}

::-webkit-selection {
  background-color: #c3d9ff;
}

.has-ripple {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.ripple {
  display: block;
  position: absolute;
  pointer-events: none;
  border-radius: 50%;
  -webkit-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  background: $white_color;
  opacity: 1;
}

.ripple-animate {
  -webkit-animation: ripple;
  -o-animation: ripple;
  animation: ripple;
}

@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2);
    transform: scale(2);
  }
}

@-o-keyframes ripple {
  100% {
    opacity: 0;
    -o-transform: scale(2);
    transform: scale(2);
  }
}

@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2);
  }
}

html,
body {
  padding: 0 !important;
  margin: 0 !important;
}

html {
  scroll-behavior: smooth;
  width: 100vw;
}

body {
  font-family: "sans", Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: $black_color;
  direction: rtl;
  text-align: right;
  background-color: $white_color;
  width: 100vw;
  min-height: 100vh;

  a {
    color: $text_color;
    @include transition($duration: 0.2s);
    &:hover {
      color: $blue_color;
    }
  }
}

html {
  padding: 0;
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
}

.text-input-inline {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-weight: 700;
  border: 1px solid $primary_color;
  border-radius: 3px;
  height: 22px;
  padding: 0 1rem;
  max-width: 130px;

  &:focus {
    background-color: rgba(181, 234, 255, 0.35);
  }
}

.custom-label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 100%;
  min-width: 40px;
  height: 50px;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: "";
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAGrSURBVDjLvZPZLkNhFIV75zjvYm7VGFNCqoZUJ+roKUUpjRuqp61Wq0NKDMelGGqOxBSUIBKXWtWGZxAvobr8lWjChRgSF//dv9be+9trCwAI/vIE/26gXmviW5bqnb8yUK028qZjPfoPWEj4Ku5HBspgAz941IXZeze8N1bottSo8BTZviVWrEh546EO03EXpuJOdG63otJbjBKHkEp/Ml6yNYYzpuezWL4s5VMtT8acCMQcb5XL3eJE8VgBlR7BeMGW9Z4yT9y1CeyucuhdTGDxfftaBO7G4L+zg91UocxVmCiy51NpiP3n2treUPujL8xhOjYOzZYsQWANyRYlU4Y9Br6oHd5bDh0bCpSOixJiWx71YY09J5pM/WEbzFcDmHvwwBu2wnikg+lEj4mwBe5bC5h1OUqcwpdC60dxegRmR06TyjCF9G9z+qM2uCJmuMJmaNZaUrCSIi6X+jJIBBYtW5Cge7cd7sgoHDfDaAvKQGAlRZYc6ltJlMxX03UzlaRlBdQrzSCwksLRbOpHUSb7pcsnxCCwngvM2Rm/ugUCi84fycr4l2t8Bb6iqTxSCgNIAAAAAElFTkSuQmCC)
      no-repeat center center;
    width: 18px;
    height: 18px;
    background-size: contain;
    display: none;
  }
}

.green-check {
  input[type="checkbox"],
  input[type="radio"] {
    position: absolute;
    visibility: hidden;
    opacity: 0;

    &:checked ~ .custom-label {
      background-color: #c3d9ff;

      &::before {
        display: block;
      }
    }
  }
}

.text-shadow {
  text-shadow: 3px 4px 0px rgba(0, 0, 0, 0.1);
}

.fw-900 {
  font-weight: 900 !important;
}

.fw-800 {
  font-weight: 800 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-200 {
  font-weight: 200 !important;
}

.font-size-1x {
  font-size: 1em;
}

.font-size-2x {
  font-size: 1.25em;
}

.font-size-3x {
  font-size: 1.5em;
}

.font-size-4x {
  font-size: 2em;
}

.font-size-5x {
  font-size: 3em;
}

.dir-rtl {
  direction: rtl !important;
}

.dir-ltr {
  direction: ltr !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center p {
  text-align-last: center;
}

.border-radius-10 {
  border-radius: 10px;
}

.box-shadow {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.o-auto {
  overflow: auto;
}

a {
  color: $blue_color;
}

.text-color {
  color: $text_color !important;
}

.primary-color {
  color: $primary_color !important;
}

.secondary-color {
  color: $secondary_color !important;
}

.third-color {
  color: $third_color !important;
}

.black-color {
  color: $black_color !important;
}

.white-color {
  color: $white_color !important;
}

.dark-color {
  color: $dark_color !important;
}

.blue-color {
  color: $blue_color !important;
}

.black-bg-color {
  background-color: $black_color !important;
}

.dark-bg-color {
  background-color: $dark_color !important;
}

.white-bg-color {
  background-color: $white_color !important;
}

.pagination {
  justify-content: center;

  .page-item {
    .page-link {
      margin-left: -1px !important;
      color: $primary_color;
    }

    &:first-child .page-link {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }

    &:last-child .page-link {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }

    &.active {
      .page-link {
        background-color: $primary_color;
        border-color: $primary_color;
        color: $white_color;
      }
    }

    &.disabled .page-link {
      color: $text_color;
    }
  }
}

.truncate-3 {
  @include truncate($line_num: 3);
  min-height: 67px;
}

.input-box {
  position: relative;
  margin: 10px 0;

  input {
    background: $white_color;
  }

  .input-label {
    position: absolute;
    color: $text_color;
    font-size: 16px;
    font-weight: 400;
    max-width: calc(100% - (2 * 8px));
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    right: 8px;
    top: 13px;
    padding: 0 8px;
    @include transition($duration: 0.25s);
    user-select: none;
    pointer-events: none;

    svg,
    i {
      position: relative;
      width: 15px;
      height: 15px;
      top: 2px;
      @include transition($duration: 0.25s);
    }
  }

  .custom-input {
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    border-radius: 4px;
    color: $dark_color;
    border: 1px solid $border_color;
    padding: 13px 15px;
    @include transition($duration: 0.25s);

    &:focus {
      outline: none;
      border: 2px solid $secondary_color;
      @include transition($duration: 0.25s);
    }
  }

  &.active-grey {
    .custom-input {
      border: 1px solid $border_color;
    }

    .input-label {
      color: $text_color;
      top: -8px;
      background: $white_color;
      font-size: 11px;
      @include transition($duration: 0.25s);

      svg,
      i {
        position: relative;
        width: 11px;
        height: 11px;
        top: 2px;
        @include transition($duration: 0.25s);
      }
    }
  }

  &.error {
    .input-label {
      color: $red_color;
      top: -8px;
      background: $white_color;
      font-size: 11px;
      @include transition($duration: 0.25s);
    }

    .custom-input {
      border: 2px solid $red_color;
    }
  }

  &.focus,
  &.active {
    .input-label {
      color: $primary_color;
      top: -8px;
      background: $white_color;
      font-size: 11px;
      @include transition($duration: 0.25s);

      svg,
      i {
        position: relative;
        width: 11px;
        height: 11px;
        top: 2px;
        @include transition($duration: 0.25s);
      }
    }
  }

  &.active {
    .custom-input {
      border: 2px solid $primary_color;
    }
  }
}

@media (max-width: 991px) {
  body {
    font-size: 14px;
  }

  .wrapper {
    padding: 3.5rem 0;
  }
}

@media (max-width: 768px) {
  // .carousel {
  //   display: block;
  //   flex-wrap: unset;
  //   margin-right: 0;
  //   margin-left: 0;

  //   &::after {
  //     content: "flickity";
  //     display: none;
  //   }
  // }

  .font-size-5x {
    font-size: 2.25em;
  }

  .wrapper {
    padding: 3rem 0;
  }

  .row.reverse-responsive {
    flex-direction: column-reverse;
  }
}

@media (max-width: 576px) {
  body {
    font-size: 13px;
  }

  h1,
  .h1 {
    font-size: 2.25rem;
  }

  h2,
  .h2 {
    font-size: 1.75rem;
  }

  h3,
  .h3 {
    font-size: 1.5rem;
  }

  h4,
  .h4 {
    font-size: 1.25rem;
  }

  h5,
  .h5,
  h6,
  .h6 {
    font-size: 1rem;
  }

  .font-size-2x {
    font-size: 1.125em;
  }

  .font-size-3x {
    font-size: 1.35em;
  }

  .font-size-4x {
    font-size: 1.65em;
  }

  .font-size-5x {
    font-size: 2.25em;
  }

  .container {
    width: 100%;
  }

  .wrapper {
    padding: 1.5rem 0;
  }
}

.custom-input {
  input {
    border: unset;
    outline: unset;
    border-radius: 0 0.5rem 0 0.5rem;
    background-color: #f1f1f1;
    padding: 0.4rem 1rem;
    font-family: inherit;
    font-size: 0.9rem;
    width: 100%;
  }

  &.has-search {
    position: relative;

    input {
      padding-right: 1.9rem;
    }

    &::before {
      font-family: "Font Awesome 5 Pro";
      font-weight: 500;
      content: "\f002";
      position: absolute;
      right: 0.5rem;
      top: 0.4rem;
      color: $dark_color;
    }
  }
}

.form-checkbox {
  margin-bottom: 0.5rem;

  .square-label {
    position: relative;
    cursor: pointer;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    font-weight: 300;

    &::before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 1.25rem;
      height: 1.25rem;
      border-radius: 0.2rem;
      border: 1px solid #c0c0c0;
      margin-left: 0.5rem;
    }

    &::after {
      content: "\f00c";
      font-family: "Font Awesome 5 Pro";
      font-size: 0.9rem;
      position: absolute;
      right: 0.25rem;
      top: 0.1rem;
      width: 1.25rem;
      height: 1.25rem;
      border-radius: 0.4rem;
      @include transition();
      visibility: hidden;
      opacity: 0;
    }
  }
  input[type="checkbox"],
  input[type="radio"] {
    position: absolute;
    visibility: hidden;
    opacity: 0;

    &:checked ~ .custom-label {
      color: $primary_color;
      border-color: $primary_color;
      font-weight: 700;
      border-width: 2px;
    }

    &:checked ~ .square-label {
      color: $primary_color;
      font-weight: 400;

      &::before {
        border-color: $primary_color;
      }

      &::after {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.no-after {
  &::after {
    content: unset !important;
  }
}

.owl-carousel {
  &.owl-carousel-nav {
    .owl-nav {
      display: flex;
      justify-content: space-between;
      width: 100%;
      position: absolute;
      top: calc(50% - 1.75rem);

      button {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        font-size: 2rem !important;
        background-color: $white_color !important;
        position: relative;

        i {
          line-height: 2rem;
        }

        &:hover {
          background-color: $white_color;
          color: $dark_color !important;
        }

        &.owl-next {
          left: -28px;
        }

        &.owl-prev {
          right: -28px;
        }
      }
    }

    @media only screen and (max-width: 576px) {
      .owl-nav {
        button {
          &.owl-next {
            left: 10px;
          }

          &.owl-prev {
            right: 10px;
          }
        }
      }
    }

    @media only screen and (max-width: 430px) {
      .owl-nav {
        display: none;
      }
    }
  }

  &.owl-carousel-dots {
    .owl-dots {
      margin-top: 2rem !important;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      .owl-dot {
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        border: 1px solid transparent;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: 0 0.25rem;

        span {
          width: 1rem;
          height: 1rem;
          background: rgba($color: $dark_color, $alpha: 0.5);
          margin: 0;
        }

        &.active {
          border-color: rgba($color: $primary_color, $alpha: 0.5);

          span {
            background: $primary_color;
          }
        }
      }
    }
  }
}
